<div id="blockscontent">
<div class="block" id="block1">
	<a class="blocktext" href="{{siteurl}}">
		<div class="text">Colis</div>
	</a>
</div>

<div class="block" id="block2">
	<a href="{{siteurl}}quan-ong-rong-mau-nude/"><img src="{{siteurl}}images/square1.jpg" />	</a>
</div>
<div class="block" id="block3">
	<a  href="{{siteurl}}quan-gia-vay-ong-rong-soc-02/">
		<img class="flip"  src="{{siteurl}}images/bigsquare1.jpg" />	
	
		<img class="flip"  src="{{siteurl}}images/bigsquare2.jpg" />	

		<img class="flip"  src="{{siteurl}}images/bigsquare3.jpg" />	
	</a>
</div>
<div class="block" id="block14">
<a class="blocktext" href="{{siteurl}}quan-gia-vay-ong-rong-soc-01/" >
	<img class="zoom" src="{{siteurl}}images/square3.jpg" />	
	<img class="zoom" src="{{siteurl}}images/square3b.jpg" />	
	<img class="zoom" src="{{siteurl}}images/square3c.jpg" />	
	</a>
</div>
<div class="block" id="block16">
<a class="blocktext" href="{{siteurl}}quan-ong-rong-hippie-digan-m1/" >
	<img src="{{siteurl}}images/square4.jpg" />	
	</a>
</div>
<div class="block" id="block16">
<a class="blocktext" href="{{siteurl}}quan-ong-rong-mau-tim/" >
	<img src="{{siteurl}}images/square4.jpg" />	
	</a>
</div>
<div class="block" id="block4">
	<a href="{{siteurl}}">
		<img src="{{siteurl}}images/square2.jpg" />	
	</a>
</div>
<div class="block" style="background-color:#3b5998" id="block5">
	<a class="blocktext" href="{{siteurl}}">
		<div class="text" style="font-family: sans-serif;">f</div>
	</a>
</div>
<div class="block" style="background-color:#db4437" id="block6">
	<a class="blocktext" href="{{siteurl}}">
		<div class="text" style="font-family: cursive;">G</div>
	</a>
</div>
<div class="block" style="background-color:#1da1f2;" >
	<a class="blocktext" href="{{siteurl}}">
		<img style="height: 60px;width: auto;" src="{{siteurl}}images/twitter-logo-120x120.png" />
	</a>
</div>
<div class="block" style="background-color:#4d2e80" id="block8">
	<a class="blocktext" href="{{siteurl}}" >
		<div class="text">đồ bộ lụa satin</div>
	</a>
</div>
<div class="block" id="block9">
		
</div>
<div class="block " id="block10">
<a class="blocktext" href="{{siteurl}}">
	<img class="bounceUp" src="{{siteurl}}images/skycrap4.jpg" />	
	<img class="bounceUp" src="{{siteurl}}images/skycrap5.jpg" />	
	<img class="bounceUp" src="{{siteurl}}images/skycrap6.jpg" />	
	</a>
	
</div>
<div class="block " style="background-color:#f3be00" id="block11">
	<a class="blocktext" href="{{siteurl}}" >
		<div class="text">Quần ali</div>
	</a>
</div>
<div class="block"  style="background-color:#2e7f80" id="block12">
	<a class="blocktext" href="{{siteurl}}" >
		<div class="text">Cá tính<br />trẻ trung</div>	
	</a>
</div>
<div class="block" id="block13">
	<a class="blocktext" href="{{siteurl}}" >
		<div class="text">năng động</div>	
	</a>
</div>


<div class="block" id="block14">
<a class="blocktext" href="{{siteurl}}" >
	<img class="zoom" src="{{siteurl}}images/square3.jpg" />	
	<img class="zoom" src="{{siteurl}}images/square3b.jpg" />	
	<img class="zoom" src="{{siteurl}}images/square3c.jpg" />	
	</a>
</div>
<div class="block" style="background-color:#442a4f" id="block15">
		
</div>

<div class="block" id="block16">
<a class="blocktext" href="{{siteurl}}" >
	<img src="{{siteurl}}images/square4.jpg" />	
	</a>
</div>

<div class="block" style="background-color:coral" id="block17">
	
</div>

<div class="block" id="block18">
<a class="blocktext" href="{{siteurl}}" >
	<img src="{{siteurl}}images/square5.jpg" />	
	</a>
</div>
<div class="block" id="block19">
<a class="blocktext" href="{{siteurl}}" >
	<img src="{{siteurl}}images/square6.jpg" />	
	</a>
</div>

<div class="block " id="block20">
	<a class="blocktext"  href="{{siteurl}}">
	<img class="fadedown" src="{{siteurl}}images/rectangle1.jpg" />	
	<img class="fadedown" src="{{siteurl}}images/rectangle2.jpg" />	
	<img class="fadedown" src="{{siteurl}}images/rectangle3.jpg" />	
	</a>
</div>
<div class="block" id="block21">
	<a class="blocktext"  href="{{siteurl}}">
		<div class="text">Contact</div>
	</a>
</div>
<div class="clear"></div>
<div style="display:none" id="pagetype" ng-bind="data.pagetype"> </div>
<div style="display:none" id="gname" ng-bind="data.slug"> </div>
</div>