<div>
	<div id="left">
						<div id="cf4a">
							<img ng-src="siteurl+'images/banner.jpg'" />
				            <img ng-src="siteurl+'images/banner2.jpg'" />
				            <img ng-src="siteurl+'images/banner4.jpg'" />
				            <img ng-src="siteurl+'images/banner5.jpg'" />
				            <img ng-src="siteurl+'images/banner6.jpg'" />
						</div>
					</div>
					<div id="right">
						<div id="video">
							<div class="boxtitle smalltab"><div><span>Video</span></div></div>
							<iframe width="240" height="160" src="//www.youtube.com/embed/BviLEgYFysA" frameborder="0" allowfullscreen=""> </iframe>
							<div id="videotitle">Indonesia Red Arowana</div>
							<div id="videodesc">Yuki Red Arowana 17-18"</div>
						</div>
						<div class="boxtitle"><div><span>Contact</span></div></div>
						<div class="boxcontent">
							<b style="color:#f0a70c">DIRECTOR</b><br /><br class="fullscreen" />

Name: Mr. Santoso Poernomo<br />
Address: Wisma Permai Barat, Surabaya<br /> 
Propinsi Jawa Timur, Indonesia<br />
Cell phone: 813 336 666 22<br />
<!-- Email: <a href="mailto:yukisuperred@yahoo.co.id">yukisuperred@yahoo.co.id</a><br /> -->
<br class="fullscreen" />

						</div>
					</div>
					<div class="clear"> </div>
					
				</div>